nav {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 50px;
        z-index: 999;
    }
}

.top-logo {
    color: #fff;
    text-align: center;
    position: relative;
    top: 45px;
    margin: -26px auto 0;
    width: 250px;
    z-index: 1000;

    a {
        color: #fff;
        font-weight: bold;
    }
}


.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    position: relative;
    height: 65px;
    z-index: 999;

    ul {
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
        padding: 0;
        width: auto;
        z-index: 1002;

        li a {
            color: darken($dark-color, 10%);
            font-size: 0.7rem;
            font-weight: 500;
            padding: 0 0.8rem;
            text-transform: uppercase;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
        
    }

    .search-bar {     
        border-radius: 25px;       
        display: block;
        margin-right: 5rem;
        padding: 0;
        position: relative;
        width: 200px;

        .search-button {
            border: none;
            background: transparent;
            color: $dark-color;
            opacity: 0.6;
            position: absolute;
            right: 0;
            margin-top: 4px;
            margin-right: -8px;

            &:hover {
                cursor: pointer;
            }
        }

        input[type=text] {
            background-color: darken((rgba(239,65,61,0.4)),20%);
            border: none;
            border-radius: 25px;
            color: $light-color;
            font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
            padding: 9px 20px;
            outline: none;
            text-align: left;
            width: 220px;
            z-index: 1001;
    
            &::placeholder {
                color: darken($dark-color, 10%);
                font-weight: 600;
                font-size: 0.7rem;
                opacity: 1;
                text-transform: uppercase;
            }
    
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: darken($dark-color, 10%);
                font-weight: 600;
                font-size: 0.7rem;
                opacity: 1;
                text-transform: uppercase;
            }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: darken($dark-color, 10%);
                font-weight: 600;
                font-size: 0.7rem;
                opacity: 1;
                text-transform: uppercase;
            }

            &:focus {
                box-shadow: 0 0 7px 2px rgba(250,250,250,0.5);
            }
        }
    }

    
    
}

.subnav {
     background-color: $dark-color;
     z-index: 999;

     ul {
        justify-content: center;
    }

    li {
        padding: 10px 40px;
    }

    a {
        font-size: 0.9rem;
        color: $light-color;
        font-weight: bold;

        &:hover {
            color: $primary-color;
        }
    }
}