@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
     background-color: $light-color;
     font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
     line-height: 1.6;
}

a {
     text-decoration: none;
}

h1 {
     font-size: 3.5rem;
     line-height: 1.1;
}

h2 {
    font-size: 2.7rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.hero-container {
    @include set-background($dark-color);
    height: 500px;
    position: relative;

    .hero-content {
        position: relative;
        width: 65%;
        padding: 5rem 4rem;
        z-index: 10;

        h3 {
            font-weight: 400;
            margin-bottom: 3rem;
            line-height: 1.2;
            max-width: 500px;
        }

    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 800px;
        overflow: hidden;
        object-fit: cover;
        opacity: 0.5;
        min-height: 600px;
        filter: grayscale(100%);
        background-color: #333;
        mix-blend-mode: overlay;
        z-index: 1; 
    }

}

#section-1 {
    display: flex;
    justify-content: center;

    .s1-content {
        width: 50%;
        margin: 0;
        padding-right: 0.5rem;

        h2 {
            margin: 0.5rem 0 1.5rem;
        }

        p {
            max-width: 450px;
        }
    }

    .s1-carousel {
        width: 50%;
        padding-left: 0.5rem;
    }
}

 @import 'nav';
 @import 'buttons';
 @import 'utilities';