@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 body {
     background-color: $light-color;
     font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
     line-height: 1.6;
 }

 a {
     text-decoration: none;
 }

 h1 {
     font-size: 4rem;
     line-height: 1.1;
 }

 .hero-container {
     @include set-background($dark-color);
     height: 600px;
     position: relative;

     .hero-content {
         position: relative;
         width: 65%;
         padding: 5rem 4rem;
         z-index: 10;

        p {
            font-size: 1.6rem;
            margin-bottom: 3rem;
            line-height: 1.2;
        }

     }
     img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        opacity: 0.4;
        min-height: 600px;
        background-color: #333;
        mix-blend-mode: overlay;
        z-index: 1;
    }

 }

 @import 'nav';
 @import 'buttons';
 @import 'utilities';