@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $light-color;
    font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Arial,sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.7rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.05rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.8;
}

.hero-container {
    @include set-background($dark-color);
    height: 550px;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(/images/cinque.jpg);
        background-size: cover;
        filter: grayscale(100%);
        background-color: #333;
        opacity: 0.6;
        mix-blend-mode: overlay;
    }

    .hero-content {
        position: relative;
        width: 65%;
        max-width: 900px;
        padding: 5rem 6rem;
        z-index: 10;

        h3 {
            font-weight: 400;
            margin-bottom: 3rem;
            line-height: 1.2;
            max-width: 500px;
        }

    }

}

#section-1 {
    background-color: #f1f2f2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .s1-content {
        width: 50%;
        min-width: 500px;
        margin: 0;
        padding-right: 0;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: 700px;
            top: -40px;
            left: -200px;
            overflow: hidden;
        }

        h2 {
            margin: 0.5rem 0 0;
        }

        h4 {
            font-style: italic;
        }

        p {
            max-width: 80%;
        }
    }

    .s1-carousel {
        width: 50%;
    }
}

#section-2 {
    @include set-background(#3E434A);

    h4 {
        font-weight: 400;
        color: #fff;
        opacity: 0.8;
        margin: 0.5rem 0;
    }
}

 @import 'nav';
 @import 'buttons';
 @import 'utilities';